---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import NavBar from "../components/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Hammerstücke">
  <div class="nav">
    <NavBar />
  </div>
  <main class="">
    <div
      class="flex justify-center xl:flex-row md:flex-row sm:flex-row flex-col gap-5 py-7"
    >
      <Card
        href=""
        title="Stück 1"
        body="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et"
      />
      <Card
        href=""
        title="Stück 1"
        body="Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et"
      />
    </div>
    <div class="footer w-screen xl:absolute md:absolute sm:absolute sticky">
      <Footer />
    </div>
  </main>
</Layout>

<style>
  main {
    overflow-x: scroll;
    background-color: #eef0f2;
  }
  h1 {
    font-size: 3rem;
    /*     font-weight: 800; */
    margin: 0;
  }
  .nav {
    background-color: #a2999e;
  }
  .footer {
    background-color: #a2999e;
    bottom: 0;
    height: auto;
    padding: 10px;
  }
  @font-face {
    font-family: "ModernSans-Light";
    src: url("app/public/fonts/ModernSans-Light.otf");
  }
</style>
