<div
  class="flex items-center justify-center space-x-3 md:space-x-20 lg:space-x-20"
>
  <div><a href="/imprint">Impressum</a></div>
  <div><a href="/gdpr">Datenschutzerklärung</a></div>
  <div><a href="/contact">Kontakt</a></div>
</div>
