<header class="">
  <div class="flex w-full justify-center xl:pb-2 md:pb-2 sm:pb-2 py-1">
    <img src="/img/logo_rework_2_ws.svg" class="logo" />
  </div>
</header>
<style>
  .logo {
    height: 15%;
    width: 15%;
  }
</style>
